@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import url(icon.css);

* {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.row {
    display: flex;
}

a {
    text-decoration: none;
}

/* MAIN-HEADER */
.main-header {
    padding: 64px 0 146px 0;
    background-image: url(../img/head-bg.jpg);
    background-size: cover;
    background-position: center;
}

.main-header .row {
    align-items: center;
    justify-content: space-between;
}

.main-links {
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.main-link {
    position: relative;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.66rem;
    color: #FFFFFF;
}

.main-link::after {
    content: '';
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.main-link:hover::after {
    transform: scale(1);
}

.main-page {
    max-width: 650px;
    font-weight: 300;
    font-size: 4.8rem;
    line-height: 4.66rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px;
    border: 2px solid #FFFFFF;
    margin-top: 130px;
}

/* LEADER */
.leader {
    padding: 160px 0 92px 0;
}

.column-2 {
    width: 50%;
}

.column2 {
    width: 40%;
}

.interactive {
    width: 541px;
    height: 317px;
    background: #FFFFFF;
    padding: 96px 0 0 96px;
    transform: translateY(183px);
}

.vr-page {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.vr-text {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    opacity: 0.5;
    margin: 25px 0 0 0;
}

/* CREATIONS */
.creations {
    padding: 92px 0 184px 0;
}

.creations .row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deep {
    margin-top: 80px;
}

.from {
    margin-top: 30px;
}

.see-all {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    color: #000000;
    padding: 13px 43px 13px 38px;
    border: 1px solid #000000;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.see-all:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.column-8 {
    flex-grow: 1;
    position: relative;
}

.column-8 img {
    transition: opacity 0.5s ease-in-out;
}

.column-8:hover img {
    opacity: 0.4;
    cursor: pointer;
}

.column-8:not(:first-child) {
    padding-left: 28px;
}

.creations-page {
    max-width: 164px;
    font-size: 2.13rem;
    font-weight: 300;
    line-height: 2.13rem;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    transform: translate(40px, -94px);
}

.grid {
    max-width: 77px;
}

/* MAIN-FOOTER */
.main-footer {
    background: #000000;
    padding: 44px 0;
}

.main-footer .row {
    justify-content: space-between;
}

.footer-links {
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.foo-link {
    position: relative;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.foo-link::after {
    content: '';
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.foo-link:hover::after {
    transform: scale(1);
}

.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icons {
    width: 144px;
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 1.6rem;
    color: #FFFFFF;
    position: relative;
}

.icon::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    height: 2px;
    background: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.icon:hover::after {
    transform: scale(1);
}

.reserved {
    display: inline-block;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.66rem;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 24px;
}